body {
    background: linear-gradient(to right, #830af5, #00a9fe);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(225, 234, 234);
    text-align: center;
    font-size: 65px;
    margin-bottom: 65px;
    margin-top: 15px;
}

button{
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    background-color: lime;
    border: none;
    font-weight: bold;
}

.button2:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}

p{
    font-size: 45px;
    text-align: center;
}

div{
    width: fit-content;
    margin: 0 auto;
    font-size: 35px;
    background-color: rgb(184, 179, 179);
    border-radius: 10px;
    padding: 15px;
}

input{
    margin: 0 auto;
}
